<style>
@media (max-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        top: 10%; /* This will make the title drop down slightly */
        transform: translateX(-50%);
        font-size: 16px;
    }
    .user {
        position: absolute;
        right: 0;
        margin-right: 10px;
        top: 10%;
    }
}
.navbar {
    align-items: center;
}
.container-fluid {
    justify-content: space-between;
}
.d-flex {
    align-items: center;
}

</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Stockplot</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plot">Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <div class="user">
                <b>{{ user | safe }}</b>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin: 10px;">
