<!DOCTYPE html>
<html xml:lang="en" translate="no">
<head>
    <title>Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        window.onload = function() {
            var select = document.getElementById("cumulativeyearsSelect");
            for(var i = 1; i <= 25; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.text = i;
                select.appendChild(option);
            }
            updateCumulativeLink();

            var select = document.getElementById("positiveyearsSelect");
            for(var i = 1; i <= 25; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.text = i;
                select.appendChild(option);
            }
            updatePositiveYearsLink();

        }

        function updateCumulativeLink() {
            var years = document.getElementById("cumulativeyearsSelect").value;
            var link = document.getElementById("cumulativeLink");
            link.href = "/cumulative?years=" + years;
        }

        function updatePositiveYearsLink() {
            var years = document.getElementById("positiveyearsSelect").value;
            var link = document.getElementById("positiveyearsLink");
            link.href = "/positiveyears?years=" + years;
        }

    </script>
</head>
<body>
    {% include 'header.html' %}
        <p>The reports provide data for FTSE 100, DAX and S&P 500 stocks only. Choose from one of these pre-canned reports or <a href="/sql">write your own SQL</a>.</p>
        <ul class="list-group">
            <li class="list-group-item">
                In past
                <select id="cumulativeyearsSelect" onchange="updateCumulativeLink()">
                    <!-- Options will be added here by JavaScript -->
                </select>
                <a id="cumulativeLink" href="/cumulative?years=10">years, how much has the stock price risen in total?</a>
                <br><small class="text-muted">This is really a past popularity report. The past unfortunately does not influence the future, and the largest losses report shows that very popular stocks can fall dramatically</small>
            </li>
            <li class="list-group-item">
                In past
                <select id="positiveyearsSelect" onchange="updatePositiveYearsLink()">
                    <!-- Options will be added here by JavaScript -->
                </select>
                <a id="positiveyearsLink" href="/positiveyears?years=10">years, how many years produced positive returns?</a>
                <br><small class="text-muted">Stocks with more positive years give a reassuring feeling that they're less risky. But the largest daily losses report again shows that it can still be a wild ride. </small>
            </li>
            <li class="list-group-item">
                What have been the <a href="/max_min_changes">largest daily gains & losses</a> per stock and when did they occur?
                <br><small class="text-muted">Note: Some of the large gains/losses look like they're due to glitches in the exchange data - you can verify this on Yahoo finance by clicking through on the stock symbol and looking at what happened near the reported date.</small>
            </li>
            <li class="list-group-item">
                When was the <a href="/stock_highs">stock price high</a> and how high was it?
                <br><small class="text-muted">This option can also give you a feel for the mood of investors if there haven't been any highs recently.</small>
            </li>
        </ul>
        <div class="alert alert-info mt-3" role="alert">
            <strong>Note:</strong> If you go to the <a href="/plot">Plot</a> menu option you can select your stocks and view Cumulative and Year on Year returns up to 25 years ago.
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>